.App {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col-md-12 {
  border-color: black;
  border-radius: 42px;
  font-size: x-large;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 60px;
  outline: none;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}

.suggest {
  cursor: pointer;
  margin: 0;
  font-size: x-large;
  border: none;
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 280px;
}
